body{
	background-color: #eeeeff;
	margin-left:20px;
}

.header-section{
	background-color: #ddddff;
	margin-top : 10px;
	padding-top : 10px;
	padding-left : 50px;
	padding-right : 50px;
}
h4{
	color: #cc6600;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
}
.btn .fa,
a.btn .fa {
  margin-right: 5px;
}
.btn:focus,
a.btn:focus {
  color: #fff;
}
a.btn-cta-primary,
.btn-cta-primary {
  background: #54ba4e;
  border: 1px solid #54ba4e;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #49ac43;
  border: 1px solid #49ac43;
  color: #fff;
}
.name{
	color: blue;
	font-family : comic sans MS;
}

.designation{
color: #ccccdd;
}

.projects-section{
font-family: comic sans MS;
}

.header-section .social a {
  background: #b0b7bf;
  width: 36px;
  height: 36px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
}
.header-section .social a:hover {
  background: #778492;
}
.header-section .social a .fa {
  font-size: 20px;
  padding-top: 8px;
}.year{
	color:pink;
	float:right;
}

.footer-section{
/*padding: 10px, 50px, 10px, 50px;*/
padding-left: 50px;
padding-right: 50px;
}

.link{
/*padding-left:20px;
padding-right:20px;*/
transition: all 0.4s ease-in-out;
}

.link:hover{
	transform: scale(1.5);
}

