<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        Header
    </title>
    <!--LINK CSS FILES-->
    {% load staticfiles %}
<link  rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Crafty+Girls'/>
<link  rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic'/>
<link  rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Montserrat:400,700'/>

<!--                *******     .HIDE CONFLICT IN BOOTSTRAP CSS AND CUSTOM CSS      ******                  -->
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap3/css/bootstrap.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap3/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'font-mfizz-2.2/font-mfizz.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/github-activity-0.1.1.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/octicons.min.css' %}"/>

</head>
<body>

<div class="container-fluid header-section">
<!--IN A BOOTS ROW THERE ARE 12 ROWS-->
	<div class="row">
	<!--ASSIGN BOOTS ROW 4 COLS-->
		<div class="col-md-2 text-center">
			<img src="{% static 'img/dp.jpg' %}" alt="My Image" class="img-responsive"/>
			<br>
			<a class="btn btn-cta-primary text-center" href="{%url 'plot:home' %}" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>
			</div>
		<div class="col-md-10">
			<h1 align="center" class="text-uppercase name "><br>Read What Other Visitors Have Posted, <br><br>Click Below To Post Your Comments</h1>


<div id="container">
	<div id="header">
		<br class="clear">
	</div>
	<div class="text-center">
	<a type="button" id="btnSubmit" class="btn btn-success btn-lg" href="#">Submit Your Comments!!</a>
	<a type="button" id="btnSubmit" class="btn btn-success btn-lg" href="{% url 'plot:home' %}">Back To Home Page</a>
		</div>

	<div class="content">

	</div>
	<div  id="log" class="hide">
		<br class="clear">
			<div class="mdl-card__supporting-text">
			<form id="new_form" action="blog.html">{% csrf_token %}
				<div class="mdl-textfield mdl-js-textfield">

					<label class="mdl-textfield__label" for="name">Name</label><br>
					<input class="mdl-textfield__input" type="text" id="name"/>
					<span class="mdl-textfield__error"></span>
				</div>
				<br/>
				<div class="mdl-textfield mdl-js-textfield">

					<label class="mdl-textfield__label" for="email">Email</label><br>
					<input class="mdl-textfield__input" type="email" id="email"/>
					<span class="mdl-textfield__error"></span>
				</div>
				<br/>
				<div class="mdl-textfield mdl-js-textfield">

					<label class="mdl-textfield__label" for="title">Title</label><br>
					<input class="mdl-textfield__input" type="text" id="title"/>
					<span class="mdl-textfield__error"></span>
				</div>
				<div class="mdl-textfield mdl-js-textfield">

					<label class="mdl-textfield__label" for="data">Comment</label><br>
					<input class="mdl-textfield__input" type="textarea col=10 row=10" id="data"/>
					<span class="mdl-textfield__error"></span>
				</div>
<div class="mdl-card__actions mdl-card--border">
				<input type="submit" class="mdl-button mdl-button--colored mdl-js-ripple-effect" value="submit" id="submit"/>
			</div>
</div>

			</form>
	</div>

	    <!--LINK JQUERY SCIPT-->
<script language="JavaScript" type="text/javascript" src="{% static 'bootstrap3/scripts/jQuery.js' %}"></script>
<script language="JavaScript" src="{% static 'bootstrap3/scripts/helper.js' %}"></script>
	<!--<script language="JavaScript" type="text/javascript" >-->
	<!---->

	<!--</script>-->


	</div><hr>
</div>
</div>  <!-- HEADER ENDS -->

</div>

<div class="row">
{% block content %}
{% endblock %}
</div>
</body>
</html>